/*CSS Reset / Normalize*/
/* Hemos disponibilizado el básico de reset de estilos. Si quieren, añadan más informaciones 
en las secciones señaladas */

:root{
    /* Inserta la variable de los otros colores inspeccionando el exemplo de figma */
    /*Se esforce para trabalhar com variáveis, é uma dica profissional valiosa*/
   --cor-de-fundo: #F5F5F5;
   --cor-de-link: #000;
}

body {
    box-sizing: border-box;
    background-color: var(--cor-de-fundo) ;
    font-family: 'Raleway';
    margin: 0;
    padding: 0;
    line-height: 1;
}
ol, ul,li {
    list-style: none;
}
a{
    text-decoration: none;
    color: var(--cor-de-link);
}

/*En este desafío nosostros gustaríamos que ustedes intentaran utilizar la metodología BEM. 

Lo que es el BEM?

BEM (Bloque, Elemento, Modificador) es un enfoque basado en componentes para el 
desarrollo web. La idea detrás de esto es dividir la interfaz de usuario en bloques
independientes. Esto hace que el desarrollo de la interfaz sea fácil y rápido, incluso
con una interfaz de usuario compleja, y permite la reutilización del código existente sin copiar y pegar.

Enlace de la documentación oficial!
https://en.bem.info/methodology/quick-start/*/

/*Sección Menu*/

section.menu{
    display: flex;
    justify-content: flex-end;
    margin: 10px 150px 30px 150px;
}

.menu__header {
    display: grid;
    grid-template-columns: 0.25fr 1fr;
    align-items: center;
    column-gap: 0px;
}

.menu__list{
    display: flex;
    gap: 2em;
}

.menu__list__item:last-child {
    font-weight: bold;
}

/*Sección Title*/

section .title{
    display: flex;
}

.title__div {
    margin: 10px 150px 30px 150px;
    display: flex;
    flex-direction: row-reverse;
    margin-top: 60px;
}

.title__bio {
    font-size: 3.5em;
    color: #464646;
}

.title__subsection {
    font-weight: lighter;
    font-size: 1.5em;
}

.title__network {
    display: flex;
    justify-content: space-between;
}

/*Sección About*/

section.about{
    background: #eaf2fd;
    color: #464646;
}

.about__container {
    padding: 30px 150px 30px 150px;
    display: grid;
    grid-template-columns: 2fr 1fr;
}

.grid__item {
    grid-column: 1/2;
}

.about__title {
    font-size: 2em;
}
/*Sección Skills y Hobbies*/

.skills__container {
    margin: 10px 150px 30px 150px;
}

.skills__title, .hobbies__title {
    text-align: center;
    font-size: 2em;
    color: #464646;
}

.skills__line, .hobbies__line {
    display: flex;
    gap: 2em;
    flex-wrap: wrap;
    justify-content: center;
    margin-bottom: 60px;
}

.skills__box, .hobbies__box {
    background-color: #Ffffff;
    width: 180px;
    height: 180px;
    display: flex;
    align-items: flex-end;
}

.skill_box_contenido, .hobbies_box_contenido {
    margin-left: -20px ;
}

/* Experiencia Académica*/

section.academic{
    background: #eaf2fd;
    color: #464646;
    padding-top: 2em;
    padding-bottom: 50px;
}

.academic__title {
    text-align: center;
    font-size: 2em;
    color: #464646;
}

.academic__courses {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}

.academic__courses__list{
    display: flex;
    flex-direction: column;
}

.context_image_academic {
    background: #Ffffff;
    height: 250px;
    width: 330px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.academic__courses__item__title{
    font-weight: lighter;
    font-size: 1.4em;
    margin-top: -15px;
    margin-bottom: -35px;
}

/* experiencia Profesional*/

section.experience{
    margin: 10px 150px 30px 150px;
    color: #464646;
}

.experience__section__title {
    font-size: 2em;
    text-align: center;
}

.experiencie__box {
    display: flex;
    gap: 4em;
    margin-bottom: 70px;
}

.experiencie__box2 {
    display: flex;
    flex-direction: row-reverse;
    gap: 6em;
    margin-bottom: 70px;
}

.experience__info {
    align-self: center;
}

.experience__title{
    font-size: 1.4em;
}

.experience__text {
    font-weight: lighter;
    font-size: 1em;
}

.experience__description{
    display: flex;
    gap: 0.8em;
}

.experience__botao--demo {
    background-color: #2a7ae4;
    font-size: 1em;
    color: #F5F5F5;
    padding: 12px 20px;
    text-decoration: none;
    cursor: pointer;
    border: none;
}

.experience__botao--demo:hover{
    background-color: #1351d7;
    transition: background-color .5s;
}

.experiencia__botao--repo{
    color: #2a7ae4;
    background-color: #F5F5F5;
    font-size: 1em;
    padding: 10px 20px;
    text-decoration: none;
    cursor: pointer;
    border-color: #2a7ae4;
    border-style: solid;
}

.experiencia__botao--repo:hover{
    color: #F5F5F5;
    background-color: #2a7ae4;
    transition: background-color .5s;
}

/*Contacto*/

section.formcontato{
    background-color: #eaf2fd;
    color: #464646;
    padding: 70px 0;
}

.formcontato__contacto{
    margin: 10px 150px 30px 150px;
    display: flex;
    gap: 1em;
    align-content: stretch;
}

.formcontato__title {
    font-size: 2em;
}

.formcontato__subtext{
    font-weight: lighter;
    font-size: 1em;
    margin-top: -10px;
}

.formcontato__form {
    display: flex;
    flex-direction: column;
    gap: 2em;
    padding-top: 15px;
}

.formcontato__input:hover {
    border-bottom: 3px solid #3970e6;
}

.formcontato__input {
    border-style: none;
    height: 3.5em;
    border-radius: 4px;
    box-sizing: border-box;
    padding-left: 15px;
    outline: none;
    border-bottom: 2px solid #bec0c4;
}

.formcontato__textarea {
    border-style: none;
    border-radius: 4px;
    box-sizing: border-box;
    height: 30px;
    padding-left: 15px;
    padding-top: 15px;
    font-family: 'Raleway';
    outline: none;
    resize: none;
    border-bottom: 2px solid #bec0c4;
}

.formcontato__textarea:hover {
    border-bottom: 3px solid #3970e6;
}

.formcontato__botao {
    background-color: #2a7ae4;
    font-size: 1em;
    color: #F5F5F5;
    padding: 12px 20px;
    text-decoration: none;
    cursor: pointer;
    border: none;
    align-self: flex-start;
}

/*footeer*/

section.footer{
    margin: 15px 150px 15px 150px;
    display: flex;
    text-align: center;
    justify-content: center;
}

.footer__text{
    margin-top: -10px;
}

/* Vamos a desafiarnos trabajando con responsividad?
Utiliza las referencias de los breakpoints @media abajo */


/*Tablet*/
@media (max-width: 1024px) {

/* Menú */
.menu__header {
    display: flex;
    gap: 1em;
    margin: 10px 50px 30px 150px;
    justify-content: start;
}

.menu__list {
    display: none;
}

/*title*/

.title__container {
    padding: 0
}

.title__div {
    display: flex;
    flex-direction: column;
}

.title__bio {
    font-size: 2em;
}

.title__subsection {
    font-size: 1em;
}

.title__network {
    display: flex;
    flex-wrap: wrap;
    padding: 0;
    justify-content: space-between;
}

/*About me*/
.about__container {
    padding: 0px 50px 30px 50px;
    display: flex;
}

/*Skills y Hobbies*/
.skills__container {
    margin: 0px 50px 30px 50px;
}
/*Formación Académica*/

.academic__courses {
    margin: 0px 50px 30px 50px;
}

/*Experiencia Profesional*/

.experiencie__box, .experiencie__box2 {
    margin: 0px 50px 30px 50px;
    display: flex;
    flex-direction: column;
    gap: 0;
    padding: 30px 0px;
    justify-content: center;
}

.experience__title, .experience__text {
    text-align: center;
}

.experience__description {
    display: flex;
    justify-content:center;
}

/* Contacto */

.formcontato__contacto {
    margin: 0px 50px 30px 45px;
}

.formcontato__img {
    display: none;
}


.formcontato__textarea {
    height: 20%;
}

}

/*Mobile*/
@media (min-width: 425px) {

/*Menu*/

/*Titulo*/

/*Sección sobre mi*/

/*Skills*/

/*Hobbies*/
 
/*Formación Académica*/

/*Experiencia Profesional*/

 /*Contacto*/

/*Footer*/

}